<p id="notice"><%= notice %></p>

<p>
  <strong>Diagnostic:</strong>
  <%= @spark_diagnostic.diagnostic %>
</p>

<%= link_to 'Edit', edit_spark_diagnostic_path(@spark_diagnostic) %> |
<%= link_to 'Back', spark_diagnostics_path %>
